[2016-02-02 16:19] ruuts opened #1 "Production ready?"
Hi!

Awesome that you made this.
It's exactly what I was looking for, see the last message => https://github.com/phstc/shoryuken/issues/169

Are you using this in production and is it stable?

Thanks for answering.

[2016-02-02 20:49] tawan commented on #1
Hi @ruuts

Thanks for your interest.

To answer your questions:

 It's not used in production by me atm, and I don't know if anyone is using it for production. I made this gem, because I'm working on a rails app for a client which is deployed on EB. I was looking for a way to use DelayedJob and finally I came to the same conclusion as you.

So why don't we use it in production? To be honest: The a

[2016-02-03 10:00] ruuts commented on #1
Hi @tawan,

Thanks for your extensive response :smile:.

We have checked the code. It looks really good, nice test suite!
I have some comments:

1. [Send message](https://github.com/tawan/active-elastic-job/blob/master/lib/active_job/queue_adapters/active_elastic_job_adapter.rb#L75) is not checking if sending of the message is actually successful. Is this on purpose?
2. When enqueuing a job it mak

[2016-02-04 14:22] tawan opened #3 "Cache queue url"
Currently an SQS queue url is fetched every time a job is enqueued. It is basically an API call to AWS which decreases performance significantly ([relevant code part](https://github.com/tawan/active-elastic-job/blob/v1.2.1/lib/active_job/queue_adapters/active_elastic_job_adapter.rb#L68-L69)).

1. Cache the fetched queue url in memory for each queue.
1. If [Aws::SQS::Client#send_message](https://gi

[2016-02-04 14:28] tawan opened #4 "Verify MD5 hashes"
[Aws::SQS::Client#send_message](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_SendMessage.html) returns a response object that carries two MD5 hashes which are calculated from the message body, respective the message attributes ([this calculation is not trivial](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html#sqs-attrib

[2016-02-04 14:31] tawan opened #5 "Resue `Aws::SQS::Error`s"
Catch all `Aws::SQS::Error`s and throw an `ActiveElasticJob` error.

[2016-02-04 14:40] tawan commented on #1
Hi @ruuts

You are welcome and thx for the feedback.

Normally the `Aws::SQS::Client` should scream and raise an error if sth. goes wrong. Atm. I do not catch these errors and I just let them escalate (I want to change that -> [issue 5](https://github.com/tawan/active-elastic-job/issues/5)). Your question also reminded me that I wanted to verify the MD5 hashes of the response, I created an [issue]

[2016-02-05 21:14] ruuts commented on #1
Hi @tawan

Thanks for the answer. We're going to integrate this next week.
And of course.. if we can contribute we will!

[2016-02-06 20:44] #4 closed

[2016-02-06 22:07] #3 closed

[2016-02-06 22:33] tawan opened #9 "Add message attribute that identifies origin"
Add an attribute to the messages sent to SQS which declares ActiveElaticJob as the origin. This avoids interference of requests with the same user agent as the SQS daemon

[2016-02-06 23:03] #5 closed

[2016-02-06 23:03] #9 closed

[2016-02-07 01:53] zaaroth commented on #1
I am afraid it is not that simple. @tawan, with which version of beanstalk did you run your tests on?

[2016-02-07 10:26] tawan commented on #1
Hi @zaaroth

Thanks for your comment. May I ask which Rails version you are using? I will try to reproduce the issue.
I'm using ruby 2.2/phusion standalone  with Rails 4.2.5.

[2016-02-07 10:40] zaaroth commented on #1
That's my config. I'm using rails 4.2.5

[2016-02-07 10:54] tawan commented on #1
@zaaroth Please try to run locally in the root dir of your rails app this command:
[code]

What is the output?

It should look like this
[code]

[2016-02-07 11:17] zaaroth commented on #1
Full output before my own routing middleware:

use Rack::Sendfile
use ActionDispatch::Static
use Rack::Lock
use #<ActiveSupport::Cache::Strategy::LocalCache::Middleware:0x00560702787ad0>
use Rack::Runtime
use Rack::MethodOverride
use ActionDispatch::RequestId
use Rails::Rack::Logger
use ActionDispatch::ShowExceptions
use ActionDispatch::DebugExceptions
use ActionDispatch::RemoteIp
use ActionDispat

[2016-02-07 11:33] zaaroth commented on #1
Server logs show the request is passing through and a route cannot be found, which leads me to believe some of the checks in the middleware are not triggering a request interception.

[2016-02-07 13:08] tawan opened #10 "SQS daemon requests are not intercepted"

[2016-02-07 16:19] zaaroth opened #11 "Update README to state why you it is safe to have the gem installed on the web environment"
The worker is safe by default because the rails application will listen only on localhost and thus only the daemon is able to communicate. So any message the rails application receives is bound to be sent by the daemon.

On the other hand, the web application is exposed and anyone could curl a request with the right user agent and stuff. I assume the message digest is meant to keep "odd" requests

[2016-02-07 16:20] zaaroth commented on #10
My worker environment is not playing nice with installing a gem from git. It seems to require more memory than your average gem (not sure why, though). Any plans to release an update with this?

[2016-02-07 16:25] tawan commented on #10
Hi, yes in a couple of minutes. I'm just waiting for the build to finish.

[2016-02-07 16:26] tawan commented on #10
https://travis-ci.org/tawan/active-elastic-job/builds/107602166

[2016-02-07 16:32] tawan commented on #11
Thanks for your comment. I will update the README to point this out more clearly.

[2016-02-07 16:37] tawan commented on #11
I was also thinking of introducing a boolean environment variable that one has to set when creating the worker environment. This variable will be checked for presence and truthyness before proceeding to execute the job. May I ask you for your opinion on this?

[2016-02-07 16:38] tawan commented on #1
@zaaroth I think I found a potential source for this behavior.
Version 1.3.0 also checks for an [additional message](https://github.com/tawan/active-elastic-job/commit/16e1a1f8b719bb4beaa0f642ced6612d3c6fe479) attribute that identifies the gem as the origin for the message. Unfortunately, this breaks backwards compatibility and message which have been queued by a previous version will not be proce

[2016-02-07 16:40] tawan commented on #10
I released a new version. @zaaroth If this solves your problem, can you give a quick notice?

Cheers,

tawan

[2016-02-07 16:45] zaaroth commented on #11
Thanks for asking. That would be good, but I really like the idea of being transparent to the user, so perhaps another idea would be to figure out when you are attached to something other than localhost (since workers are only attached to localhost) and disable the middleware if that's the case. This would keep things simple to the user, but hard on the gem dev :-) The best way would be to only en

[2016-02-07 16:51] zaaroth commented on #11
Thinking it through, if the middleware is disabled on the web environment there is likely no need to validate the messages. I assume in this case they are bound to always come form the attached queue (i.e. from the daemon).

[2016-02-07 17:10] zaaroth commented on #11
Perhaps checking the remote_ip of the request would do the trick. If it is not localhost/127.0.0.1 it is safe to ignore the request since the daemon only sends requests locally. This way any attacker would have to hack into the server to spoof anything. If that happens the owner the the environment already has a bigger problem to deal with :-)

[2016-02-07 17:28] tawan commented on #11
Thanks for your input.

I think I will add the check of the remote_ip as you suggested.

Furthermore I think I'll introduce an additional environment variable for the web env which disables the middleware. Since there is already a section that explains which environment variables have to be set in the web env, than this should not put too much burden on the user.

I will leave the message signing

[2016-02-07 17:34] tawan opened #12 "Disable middleware via environment variable"
Add the possibility to disable the middleware in web environments. See also the discussion in issue #11.

[2016-02-07 17:37] zaaroth commented on #11
Nice. I did some extensive research and I find big value in this gem. resque, sidekiq and stuff are really cool, but nowadays the best thing is not having to worry with operations. Deploying any of those things in production means updating software, installing some kind of monitoring and having to keep tabs on lots of stuff (including scaling). I dont have time for that, so having my whole code in

[2016-02-07 17:42] tawan opened #13 "Check remote_ip of requests before processing"
The [middleware](https://github.com/tawan/active-elastic-job/blob/v1.3.1/lib/active_elastic_job/rack/sqs_message_consumer.rb) should only process requests that originate from the localhost. Since the SQS daemon which sends requests only runs on  the local host this check will close another attack vector. See also the discussion in #11 .

[2016-02-07 23:18] #12 closed

[2016-02-08 01:06] zaaroth commented on #10
The events are now being consumed. I will perform an end to end test tomorrow to be sure, but chances are this is fixed.

[2016-02-08 13:01] tawan commented on #11
:+1:  Agree.

The advantage of Elastic Beanstalk and other PaaS is that you do not need to worry about the infrastructure so much and you can deploy your app with one command and EB takes care of the rest. And it makes sense to keep it that simple.

Given that your application is deployed on EB, than there are two reasons to use worker environments, rather than running your own queueing backend so

[2016-02-08 13:02] tawan opened #14 "Explain motivation of this gem in README"
See comments in #11

[2016-02-08 13:19] zaaroth commented on #11
Yep. I think the unique downsize I see so far is that a worker environment does not allow you to assign more than one queue to the same pool. It does not matter much to me at this point, but if you are working on small stuff that might set you back a few bucks. That's a given with the other options (resque, sidekiq and stuff).

[2016-02-08 14:30] tawan commented on #11
Yep that's true. Each queue will require at least one micro instance, which adds to the bill. So in the end it's an economical question. Is the gained comfort worth the money.

[2016-02-08 14:46] zaaroth commented on #11
It is a bit more than that. The real question is whether you gotta be up and running 24/7 (i.e. your business is for real). If your business depends on being up and running it is indeed worth the money. My team is highly optimized (to not say small). It is expensive to waste 1/4 to 1/3 of a developer to keep tabs on whether jobs are being processed or the delay in delivery is small enough. Especal

[2016-02-08 19:44] tawan opened #15 "Puma platform does not pass message digest in headers"
The header `HTTP_X_AWS_SQSD_ATTR_MESSAGE_DIGEST` seems to be missing when puma passes the rack env.

[2016-02-08 20:20] tawan commented on #15
The problem is that Puma drops headers that carry an underscore.

[2016-02-08 20:46] #15 closed

[2016-02-08 21:25] #13 closed

[2016-02-08 21:58] #11 closed

[2016-02-08 23:15] #14 closed

[2016-02-09 09:58] #1 closed

[2016-02-09 09:58] tawan commented on #1
Closed in favor of #10

[2016-02-10 17:01] #10 closed

[2016-02-18 08:06] claudeomusic opened #16 "not detecting queue"
not sure how to handle this. seems it's not detecting my SQS queue? here's the response i get when i try to queue up a job:

ActiveJob::QueueAdapters::ActiveElasticJobAdapter::NonExistentQueue: The job is bound to queue at test_queue. Unfortunately a queue
with this name does not exist in this region. Either create an Amazon SQS queue
named test_queue - you can do this in AWS console, make sure to

[2016-02-18 08:17] claudeomusic commented on #16
nevermind! solved it myself. had to assign the proper policy to the role attached to my elasticbeanstalk environment (gave it SQSFullAccess)

[2016-02-18 08:17] #16 closed

[2016-02-18 08:19] claudeomusic commented on #16
sorry if that wasn't worded properly. still getting used to the AWS lingo. assigned the SQSFullAccess policy to the instance profile tied to my EC2 instance, to be more accurate

[2016-02-18 08:48] tawan commented on #16
Hi @claudeomusic,

Np. The AWS permission system can be confusing. May I ask: did you follow step 3 and step 6 of the [Usage section](https://github.com/tawan/active-elastic-job#usage) without luck and then afterwards added  SQSFullAccess to the instance profile? Maybe I need to update the README.

[2016-02-18 09:56] claudeomusic commented on #16
Hi @tawan,

Yes, I did follow that step. Might need to update the README

[2016-02-18 12:48] claudeomusic opened #17 "jobs being repeatedly called"
not 100% the source of this issue, but if you can shed any light it's much appreciated. i'm still just trying to make sure everything is wired up properly so i set up a really simple job. for some reason the job seems to keep getting called over and over again.. here's a snippet of the log when i made a second request. i made a call from my webserver console and called UpdateSongJob.perform_later(

[2016-02-18 14:23] tawan commented on #17
This behavior can have several different causes:

*  the job has not been completed or not reported to the queue as such. Check your logs if the responses return a **200** response code. It should look like this:
[code]

* the _Visibility timeout setting_ is too optimistic. The queue will wait for so long for a response that the job has been successfully processed. If there is no response within t

[2016-02-18 20:21] claudeomusic commented on #17
ah, i see. yeah looks like i'm getting a 500 error, and i set a pretty high visibility timeout so it keeps retrying. a little confused on how to move forward still, though.

127.0.0.1 - - [18/Feb/2016:10:38:35 +0000] "POST / HTTP/1.1" 500 193 "-" "aws-sqsd/2.0" "-"
127.0.0.1 - - [18/Feb/2016:10:38:36 +0000] "POST / HTTP/1.1" 500 193 "-" "aws-sqsd/2.0" "-"
127.0.0.1 - - [18/Feb/2016:10:38:37 +0000]

[2016-02-18 21:42] tawan commented on #17
Yea, there is an error while the job is performed. Your issue brought my attention to how the gem handles errors and until now it did it wrong. It just responds with 500 but then leaves no traces in the logs.

I fixed that and released a new version (1.4.2).
You should update to the new version with
[code]
commit the updated `Gemfile.lock` file and deploy again.
With the new version you should hav

[2016-02-18 22:29] claudeomusic commented on #17
perfect, thankyou! super glad to have discovered this gem

[2016-02-18 22:29] #17 closed

[2016-02-19 00:04] claudeomusic opened #18 "managing priority?"
sorry i'm throwing so many questions at you!

as it's built now, how i understand it is that it's a first-come-first-serve type of model. is there a way to manage the priority of tasks? i.e. if i have a long queue of tasks running, is there a way i can then shoot off an e-mail asynchronously without too much delay? or, in this scenario, would i have to setup a separate background worker and queue

[2016-02-19 12:37] AlexanderUlitin commented on #18
Hi @claudeomusic, I'm not a pro with SQS I think you should use separated SQS queue for Urgent tasks, it will fits with your requirements and perform urgent job without delays. I don't know other way to set priority for the task.

[2016-02-19 15:08] tawan commented on #18
@AlexanderUlitin is right. You will need to setup another worker environment with its own queue for your email jobs.

[2016-02-19 19:57] claudeomusic commented on #18
@AlexanderUlitin @tawan :+1:

[2016-02-19 19:57] #18 closed

[2016-02-21 14:10] karensg opened #19 "Great library"
Hi @tawan,

Thanks for sharing this great library and clear instructions. I just installed it and everything worked fine from the first time.

-  I am considering to use it in production and I am wondering what can go wrong? I assume that once installed, it keeps working, right? Is this library vulnerable to sudden AWS changes? Are there any other risks?
- Is there a way that I can keep track of s

[2016-02-21 16:17] tawan commented on #19
Hi @karensg,
Thanks for your feedback.

If you use this gem in production, then I would recommend that you get familiar with Amazon SQS itself. The [developer's guide](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/Welcome.html) provides a good overview. It's good to know how SQS handles message visibility, what is actually meant by that, how the messages are ordered, an

[2016-02-21 19:51] ruuts opened #20 "Priority"
Hi @tawan!

Any idea how to implement some sort of priority system for messages?
With delayed job you can give the job a priority. So it will be processed with precedence above others.

In Beanstalk I can imagine the following:
- Make multiple worker environments
- One with more app servers than the other so jobs will be processed quicker.
- Send jobs to a different queues.

Is there a better way?

[2016-02-21 21:13] karensg commented on #19
Thanks for the reading advice, I have gone through the documentation today and it is became more clear. I have configured the main and the dead letter queue and I think I am ready to go. Emails and errors logged and cronjobs configured.

I am glad I found your repo, I will keep track of it for a while.

Keep up the good work!

[2016-02-21 21:13] #19 closed

[2016-02-22 07:24] tawan commented on #20
Hi @ruuts,
 I would implement it as you have explained it. Amazon SQS does not provide a mechanism to change the order of messages in a queue itself. I also think that the docs mention that your approach is the way to go.

You can also play with the auto-scale settings. If load increases, let the worker env spawn more instances. Maybe it also makes sense to have a queue for fast running jobs (like

[2016-02-22 08:36] ruuts commented on #20
@tawan alright thanks for the info! I think we will start of with one queue and fine tune when everything is being used in production.

[2016-02-22 11:09] #20 closed

[2016-02-28 15:31] tawan opened #21 "Disable MD5 checksum verification when aws-sdk > v.2.2.19"
MD5 checksum verification has been [merged upstream](https://github.com/aws/aws-sdk-ruby/commit/7d68859009a138cae28dec525cf684af02fbcd5e) and therefore is not needed if aws-sdk is >= 2.2.19

[2016-03-04 13:50] Onumis opened #22 "Local development environment"
I was wondering how would the local development be like with this gem?

Jobs should still be queued on SQS, but I can't see how those jobs would be retrieved and ran locally.
Any idea on how this is done?
I'd think this gem could provide a simple command/rake task that periodically fetches messages form the specified queues.

(I'm trying to replace Shoryuken with this gem in an effort to move our

[2016-03-04 13:57] zaaroth commented on #22
You got a couple options. You may do nothing and let active job run inline (right after the job creation in the same thread) or setup resque or some other broker and configure active job to use that.

[2016-03-04 14:30] Onumis commented on #22
Yeah, I do enjoy the simplicity of letting the jobs run inline, think I'll go with that approach for now.
Thanks @zaaroth.

[2016-03-04 15:19] zaaroth commented on #22
It is usually safe to do so, just be careful with the size of the parameters passed to active job. There is a max size in place with regards to SQS.

[2016-03-04 15:24] zaaroth commented on #22
@tawan Pehaps it is a good idea to clarify howto/limitations of dev environment on the README?

[2016-03-04 16:51] Onumis commented on #22
Yeah, I was thinking about this and albeit it is indeed simple to have something like:

[code]

It is bad when you're developing towards a micro-services powered application.
In that case you really want to have messages going around and letting your services interact in the expected way.

[2016-03-04 17:13] tawan commented on #22
@Onumis Rails provides configuration files in `config/environments`. So instead of the the `if` condition you can set the active job adapter in these files:
[code]
and for production
[code]

With this configuration, the background jobs will be immediately executed while developing, which has it advantages. However, it is true that you should test the whole round trip before you deploy to productio

[2016-03-04 23:34] Onumis opened #23 "Thoughts on Message Digest"
I'm trying to use this gem in an service-oriented architecture, where there are multiple writers to SQS queues.

The Rails app is the "center-piece" and also where all job processing is performed.

Due to the checks of a message-digest and the "origin=AEJ" header (https://github.com/tawan/active-elastic-job/blob/master/lib/active_elastic_job/rack/sqs_message_consumer.rb#L59) it is currently very h

[2016-03-06 15:03] tawan commented on #23
Hi @Onumis ,

Thanks for your input. I can understand your points, however I'd rather leave the security messages in place for now. The focus of this gem is simplicity and ease of use. A user should be able to use the gem and the gem takes care of protecting the  **web-environment** from being spoofed into processing jobs. Even though the middleware can be disabled by an environment variable in th

[2016-03-06 16:07] #21 closed

[2016-03-08 17:24] Onumis commented on #23
@tawan thanks! I'm gonna give a try with by writing my own middleware and swapping it with `SQSMessageConsumer`.

[2016-03-09 13:42] Onumis commented on #23
By the way @tawan you can avoid

If you instead use an env var to activate the worker: `ENABLE_SQS_CONSUMER=TRUE`

That way the web environment keeps as is, and the user has to explicitly activate this on the worker environment.

[2016-03-13 21:09] karensg opened #24 "How to find out why a job failed?"
Hi Tawan,

I am using your library for a month already and so far it works really smooth. Thanks a lot for that.

I have some issues debugging why the jobs are failing on the worker. I noticed that a message ended up in a dead queue, so I tried to resend it. That failed. Usually I get an error from [AppSignal](https://appsignal.com/). But this time - nothing. Then I tried to take a look in the EB

[2016-03-14 02:18] zaaroth commented on #24
How many servers do you have in your worker pool?

[2016-03-14 07:32] karensg commented on #24
It is a single instance.

[2016-03-14 11:31] tawan commented on #23
@Onumis  That is correct. The opt-in environment variable would have been a better solution. I don't know if I can introduce this change and be backwards compatible, though. I'll think about it, but thanks for   noticing.

[2016-03-14 11:40] tawan commented on #24
Can you post the `HTTP connections` setting from your worker environment configuration?

[2016-03-14 11:49] karensg commented on #24
It is at default setting (10)
![capture](https://cloud.githubusercontent.com/assets/359682/13743597/096ac04e-e9e3-11e5-82a8-ee4c7da865cb.PNG)

[2016-03-14 13:06] Onumis commented on #23
Better start with a deprecation warning and only do the change in a future release.

[2016-03-14 18:56] zaaroth commented on #23
I am not sure that would be better. In my case, for instance, I got a single web environment and a few worker environments. This is probably the average setup because you need an worker environment per queue. I believe simpler applications would use only a single queue, but most are likely to use more than one. At least to me it is easier to disable the consumer on the web environment (once) and b

[2016-03-14 18:57] zaaroth commented on #24
What about the queue configuration?

[2016-03-14 20:49] Onumis opened #25 "Config for force_ssl = true"
When an app has the config:
[code]

SQSd requests are redirected:
[code]

I'm not sure which Rails/Rack middleware is doing this and I don't know if moving `ActiveElasticJob::Rack::SqsMessageConsumer` "up" in the middleware order would be ok.

I worked around with this config for webapp environment:

[code]

Not the prettiest thing, but ok.
Do you have another suggestion? I was thinking this could

[2016-03-15 07:03] karensg commented on #24
![sqs](https://cloud.githubusercontent.com/assets/359682/13769995/4500b432-ea84-11e5-96af-4c00c7424afb.PNG)
I have put maximum recievs to 1 to prevent that emails get sent several times

[2016-03-15 13:11] tawan commented on #25
Hi @Onumis ,

Thanks for reporting this problem. Moving the middleware up is probably acceptable. I will incorporate this in the next release.

[2016-03-16 02:23] RyanNaughton opened #26 "request.local? fails with Dockerized application"
In `ActiveElasticJob::Rack::SqsMessageConsumer` there is a check that the request is local (`request.local?`).
https://github.com/tawan/active-elastic-job/blob/master/lib/active_elastic_job/rack/sqs_message_consumer.rb#L30-L32

Our application is running inside a docker container, and this check currently fails as the `remote_addr` and `remote_ip` resolve to `172.17.0.1`.

My suggestion is to make

[2016-03-21 17:36] AlexanderUlitin commented on #25
@tawan experienced the same issue, after I enabled force_ssl on my env. @Onumis your solution works for me too, thanks.
@tawan many thanks for doing this gem, hope you will able to fix this issue soon.

[2016-03-29 13:45] tawan commented on #26
@RyanNaughton Thanks for the submission. Sorry for my late reply, I was on the road the recent days.

I'm thinking of introducing an optional environment variable, that overrides the check for a local IP. In your case, would the remote_ip always resolve to `172.17.0.1` or does it change between deployments?

[2016-03-31 04:14] zaaroth commented on #24
Did you figure this out, @karensg ?

[2016-04-01 01:26] MikeIsMe opened #27 "No route matches [POST] "/""
Hi,

First off, thanks for making this Gem.  It's just what we needed.  Currently I am in the process of getting this setup on AWS (Elastic Beanstalk).  For our application it's being used to send email asynchronously.

The messages are getting enqueued correctly but during dequeuing by the worker environment it has the following error:

 -------------------------------------
/var/app/containerfil

[2016-04-01 12:15] tawan commented on #27
Hi, thanks for reporting the issue.

Please check these two settings:

* The gem is added to to bundle and deployed to the **worker** environment.
* The environment variable `DISABLE_SQS_CONSUMER` in the **worker** environment is **not** set at all or set to `false`.

If both settings comply, then I'd ask you to post the content of `var/app/support/logs/access.log`.

The general problem is that th

[2016-04-01 13:18] karensg commented on #24
No unfortunately I did not. After that occurrence, I did not have any failed messages again.
I think I will need to dig in to the [custom monitoring with AppSingal.](http://docs.appsignal.com/background-monitoring/custom.html). Somehow the default configuration did not track that error.

You can close the issue though :)

[2016-04-01 14:25] #24 closed

[2016-04-01 19:48] MikeIsMe commented on #27
Hi,

Thanks for getting back to me.  I verified that the Gem does exist in the worker environment (version 1.4.3).  I also verified that the environment variable DISABLE_SQS_CONSUMER does NOT exist in the worker environment.

I wasn’t able to find the log file you mentioned on AWS.  There isn’t a support direction under /var/app.  Only containerfiles and current directories.  I looked inside of bo

[2016-04-01 21:28] claudeomusic commented on #27
most of the logs can be found in /var/log or through the eb console from my understanding. i'm assuming you're running on nginx so your access.log would be at /var/log/nginx/access.log

[2016-04-01 23:32] MikeIsMe commented on #27
Hi,

Yes, I found the logs in /var/log/nginx/access.log.  Here are the contents:

127.0.0.1 - - [01/Apr/2016:19:42:21 +0000] "POST / HTTP/1.1" 404 1318 "-" "aws-sqsd/1.1" "-"
127.0.0.1 - - [01/Apr/2016:19:47:21 +0000] "POST / HTTP/1.1" 404 1318 "-" "aws-sqsd/1.1" "-"
127.0.0.1 - - [01/Apr/2016:22:55:40 +0000] "POST / HTTP/1.1" 404 1318 "-" "aws-sqsd/1.1" "-"
127.0.0.1 - - [01/Apr/2016:23:00:40 +00

[2016-04-03 19:52] tawan commented on #23
@zaaroth  Makes sense. I'll leave it as it is.

[2016-04-03 19:58] tawan commented on #27
Your worker environment still uses the AWS SQS daemon version 1 -> `aws-sqsd/1.1`
This gem makes use of message attributes, but these are only supported by version 2. Is it possible for you to switch to a newer platform? I tried the Ruby 2.0 (Puma) but with the newest Amazon Linux 2015 v.2.0.8. and it worked fine.

[2016-04-04 18:01] MikeIsMe commented on #27
Once again, thanks for your help tracking the issue down.  It may be a challenge for us to move our application to the latest and greatest AWS, but we will give it a try.  Thanks again.

[2016-04-05 15:33] #27 closed

[2016-04-06 10:26] #25 closed

[2016-04-06 13:43] tawan commented on #25
@Onumis @AlexanderUlitin  Hi, Version 1.4.4 supports SSL and is released.

[2016-04-06 15:16] AlexanderUlitin commented on #25
@tawan many thanks to you for doing this. I'll test it over this week on staging env and will report here.

[2016-04-06 15:17] Onumis commented on #25
Awesome!

[2016-04-07 01:12] mdoza opened #28 "Rails 5 Issue?"
Checking this Gem out on Rails 5, the following error occurs when attempting to `#perform_later`:

Odd since the method does exist.

Just wanted to give a heads up. When I have some time, I'll try to help resolve the issue.

[2016-04-07 10:17] tawan commented on #28
Hi @mdoza ,

Thanks for reporting the issue. Rails 5 is still an open topic that hasn't been addressed, yet. I definitely welcome all further input for making this gem Rails 5 ready.

[2016-04-08 04:44] mdoza commented on #28
Submitted PR #29

[2016-04-11 09:35] AlexanderUlitin commented on #25
It works great on real envs. Thanks.

[2016-04-13 15:01] mdoza commented on #28
PR #29 merged.

[2016-04-13 15:01] #28 closed

[2016-04-13 15:50] mdoza commented on #26
@RyanNaughton @tawan instead of making a local check optional, which is a security hole, how about allowing a configuration variable be set that holds the allowed/trusted network. For example (not proposed code, just to give an example):

[code]

Sorry for the messy code, just letting the idea flow and typing on my phone.

[2016-04-18 05:50] mdoza commented on #26
@RyanNaughton :pager: ping. Any thoughts on PR #30?

[2016-04-18 14:12] zaaroth commented on #26
@RyanNaughton @tawan I am under the impression we could handle this gracefully. There is no need to check for a custom ip address. The problem is actually forbiding a non-private ip address to deliver requests to the worker. It is just a matter of following RFC1918.

Follow this link: https://github.com/ipaddress-gem/ipaddress/blob/master/lib/ipaddress/ipv4.rb
Go to line 618, there you find an exa

[2016-04-18 14:39] mdoza commented on #26
@zaaroth checking against default common local networks by default :+1: plus having the ability to configure a custom networks for those special use cases :+1:

[2016-04-18 15:05] mdoza commented on #26
@zaaroth I did have a concern with this idea initially, since all EC2 instances have a private IP assigned. I was thinking that an unwanted message could get through from an unauthorized instance :unlock: using this method. However, if I'm not mistaken, Elastic Beanstalk creates a :lock: VPC for the instances to run in correct? If so, this should't be a concern. :relieved:

Other than that, I do l

[2016-04-19 04:41] mdoza commented on #26
@zaaroth updated PR #30

[2016-04-20 12:54] #26 closed

[2016-04-20 13:00] tawan commented on #26
@mdoza  @zaaroth  Thanks for your input and @mdoza  thank you for your PR.
I took a step back and thought again about why this issue was actually created. The problem only exists if the application is deployed in a Docker environment. I think we got carried away a little be too much when we were thinking about allowing a user configured network. We actually only have to deal with the Docker case.

[2016-04-20 17:03] mdoza commented on #26
@tawan sehr gut. Stays within the scope of fixing the original issue. Simple and elegant. :+1:

[2016-04-21 07:32] ngan opened #31 "Support AWS_SECRET_KEY as well"
The AWS Ruby SDK supports all three:
`AWS_SECRET_ACCESS_KEY`, `AMAZON_SECRET_ACCESS_KEY`, `AWS_SECRET_KEY`

It would be great if this gem followed suit. Wouldn't complicate the code too much and you wouldn't have to mention it in docs too prominently either. Also, When creating a new worker environment, the configuration says:

![screen shot 2016-04-21 at 12 32 27 am](https://cloud.githubuserconte

[2016-04-21 07:49] tawan commented on #31
cool, this goes into the next release. Thx @ngan

[2016-04-21 19:53] #31 closed

[2016-05-17 12:22] AlexanderUlitin opened #32 "Config for Rack::SslEnforcer middleware"
I have to use another way instead of `config.force_ssl` for enable Heath Check feature http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.healthstatus.html.

Tried a lot of things for make it works with force_ssl, like described here:
http://robforman.com/how-to-setup-a-public-and-http-version-health-check-while-still-using-global-force_ssl-in-rails-for-elastic-load-balancer/

Bu

[2016-05-17 16:02] mkozono commented on #32
If you don't mind using the controller `force_ssl` instead then you can do something like this:
[code]

[2016-05-17 19:08] cbeer opened #33 "Using instance profile credentials?"
The README says to explicitly configure the SQS Client connection:

[code]

Is it possible to use the implicit instance profile credentials when running in EC2? It seems like the environment-based configuration is pretty hard-coded, but maybe you can suggest an approach that would work?

[2016-05-18 17:43] mkozono opened #34 "Perform more than 15 minutes later"
We want to be able to run jobs at a specific time in the future. Since AWS SQS doesn't allow delays more than 15 minutes, we can't do this:
[code]
Anybody else need this functionality? What did you do?

[2016-05-18 18:15] zaaroth commented on #34
@tawan might have a different opinion, but I see this gem as an "instant job queue". SQS is not meant to be a "cron" scheduler, so I guess this gem is not as well. SQS/Worker envs are mostly used to offload async jobs that are part of larger tasks performed on a web environment or so.

In your case it seems you would need a real scheduler to, when the right time comes, use elastic job to actually

[2016-05-18 19:08] mkozono commented on #34
Agreed. Unfortunately this means I lose a lot of the simplicity I gained by choosing ActiveElasticJob.

So what I'm looking at now is partially duplicating delayed_job functionality:
1. Queue jobs into a scheduled_jobs table
2. Use `cron.yaml` to run SchedulerJob every minute
3. SchedulerJob checks the table and runs or queues jobs

Does this sound crazy? I'm considering switching to delayed_job e

[2016-05-18 19:36] zaaroth commented on #34
active elastic job is really good at instant jobs, ensuring they are not forgotten (SQS) and that you have capacity to run them (elastic beanstalk). If most of your jobs are not instant then, perhaps, active elastic job might not be the best choice for the task (unless you use a lot of capacity to run your tasks, than it is worth chanining another gem with this one to leverage elastic beanstalk).

[2016-05-18 19:47] mkozono commented on #34
Thanks @zaaroth I think I'm just reluctant to get into those obscure eb extensions etc. We probably won't have massive volume so we should probably switch to a different solution.

I'm still interested to hear what anyone else has done though.

[2016-05-19 07:27] tawan commented on #34
Hi @mkozono,

You and @zaaroth  are correct.
I will try to sum up and propose a solution:

Must we really frame the `GuestsCleanUpJob` as a job that has to be queued after a specific event has happened?
Or maybe it is sufficient to look at it as a periodic job that runs every day at noon? I'm thinking of something like this:

[code]

If this would work for you, then you don't need this gem actuall

[2016-05-19 11:07] zaaroth commented on #34
@tawan wouldn't that cause any trouble in case you have 2+ worker environments? I think it could overlap jobs.

[2016-05-19 14:00] mkozono commented on #34
@tawan actually we have decided to do something similar to your suggestion (GuestCleanupJob is just an example). But I fear that we are only delaying the issue for ourselves. I'm glad you mentioned this reframing of the problem though.

@zaaroth I believe AWS ensures this is not an issue with cron.yaml. Only one SQS message would be queued at the right time.

[2016-05-19 14:12] tawan commented on #34
@zaaroth  Not really. You can actually re-use the same worker environment. Active Elastic Job ignores jobs from the queue that do not origin from the gem itself.

[2016-05-20 02:17] yeonhoyoon opened #35 "cat: /proc/1/cgroup: No such file or directory"
[Due to the code checking for docker container](https://github.com/tawan/active-elastic-job/blob/2cbacc79c5f3f71bd1306f119f57abe2ed0b1416/lib/active_elastic_job/rack/sqs_message_consumer.rb#L22), the following message gets printed to the console whenever you run rails/rake commands.
```cat: /proc/1/cgroup: No such file or directory```

[2016-05-20 11:45] tawan commented on #35
👍 I'll have a look at that. Thx

[2016-05-22 17:38] tawan commented on #35
@mkozono Does your commit solve this issue? If so, do you want to make a pull request?

[2016-05-23 00:34] mkozono commented on #35
Sure, I just submitted #36.

[2016-05-24 17:40] tawan commented on #35
Thx a lot @mkozono

Merged and released

[2016-05-24 17:40] #35 closed

[2016-05-24 17:46] #34 closed

[2016-05-28 02:15] peterkle opened #37 "HTTP Error 301"
Hi, I am getting a 301 error in my worker env logs, any idea why?

var/app/support/logs/access.log
`127.0.0.1 - - [28/May/2016:02:04:30 +0000] "POST / HTTP/1.1" 301 5 "-" "aws-sqsd/2.0"`

/var/log/aws-sqsd/default.log
[code]

[2016-07-07 10:53] karensg opened #38 "Deprecation in Rails 5"
Hi, so far I can see, everything works in Rails 5. There is one little deprecation:

[code]

[2016-07-11 20:21] tawan commented on #38
Hi @karensg ,

Thanks for the submission. If you are up for  a PR I'd be happy to merge.

Cheers,

tawan

[2016-07-12 19:59] karensg commented on #38
The Travis test failed, but I think that the error is unrelated or I am wrong?

[2016-07-12 20:25] tawan commented on #38
Yes,  tests always fail on PRs at the moment. Please ignore it for now. I
will have a look at the PR soon. Thanks a lot for the submission.

On Tue, Jul 12, 2016 at 9:59 PM, Karens <notifications@github.com> wrote:

--
*Tawan SIEREK*

Phone:    +43 650 700 20 12
Email:     tawan.sierek@gmail.com
Address: Margaretenstraße 61/3 | 1050 Vienna | Austria
Skype:   Tawan Sierek

[2016-07-13 13:45] briantigerchow opened #40 "Support for Elastic Beanstalk's Periodic Tasks? (via cron.yml)"
Does this library support Elastic Beanstalk's [periodic tasks](http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features-managing-env-tiers.html#worker-periodictasks) via `cron.yml` file? I do not see documentation for such a feature.

[2016-07-13 14:18] briantigerchow commented on #40
If not, here is my basic implementation that I am using now:

[code]

[code]

[code]

[2016-07-17 19:52] #23 closed

[2016-07-17 19:52] #22 closed

[2016-07-17 19:52] #38 closed

[2016-07-17 20:01] tawan commented on #37
Hi @peterkle

Is this issue still present? The gem's only responses are either `200` or `403` or it passes the request through to the rails stack. Given the response is `301` then this means that the request is passed through. Since the agent string is correct, I suspect that the request originates from a job in the queue which has not been enqueued by this gem. I'd recommend to check this possibi

[2016-07-17 20:04] tawan commented on #40
Hi @briantigerchow,

Currently this gem does not support periodic tasks, but I have been evaluating this possibility of including a support for this feature. Thanks a lot for your submission and for sharing your implementation. I'll leave this issue open and I'll come back to it in the near future.

[2016-07-19 19:14] karensg commented on #40
Good question. I am looking forward to hear your advice on how to set it up according to best practices.

[2016-07-21 21:36] sauy7 commented on #40
FWIW I've implemented the same as @briantigerchow (cron.yml) except that I wrap the `post '_jobs'` endpoint in a condition based on the Rails environment. My web tier is "production" and my worker tier is "production_worker". My routes file (simplified) then has an if condition:

[code]

Whilst setting up separate Rails environments may seem like overkill, I have other requirements such as my web

[2016-07-21 21:41] sauy7 commented on #37
@peterkle Has your worker app been configured to force SSL in config/production.rb?

[code]

If so, the request to localhost:80 is being 301 redirected to localhost:443.

[2016-07-22 18:02] briantigerchow commented on #37
@sauy7, this may be slightly off-topic, but I'm curious how you managed to force ssl behind the ELB while avoiding infinite redirect loop and also passing health checks. I'm assuming you're on Elastic Beanstalk with an auto-scaling group.

[2016-07-22 18:10] sauy7 commented on #37
I didn't force SSL. I have a separate production_worker Rails environment for my worker tier. My Web tier (production environment) does force SSL. I've not yet setup health checks although that is something I will be looking at next (comments in issue #32 suggests a solution, do they not?)

Also off-topic: Whilst running separate Rails environments for the separate tiers may seem like overkill, I

[2016-07-24 15:51] karensg commented on #40
I just implemented your proposal. Thanks

[2016-08-18 17:27] jcoyne opened #41 "Please release 1.6.2"
Thanks much. 👍

[2016-08-20 00:32] briantigerchow opened #42 "Allow user to configure gem in initializer"
I would like to be able to configure my AEJ user independently from the AWS users required by other gems. This is not possible because this gem uses `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` environment variables. As it stands, this configuration requirement dictates that I must give multiple permissions to a AWS single user.

I want to be able to configure this gem in an initializer like so

[2016-08-22 14:51] ruuts opened #43 "Sudden loss of sqs queue"
Hi,

Recently we experience a suddenly loss of the SQS queue.
An exception like this is thrown:

[code]

We run multi threaded. Not all threads / processes seem to throw this error.
And it's seems to occur when there are relatively long running jobs 10 + seconds.

We run version 1.4.2.

Going to investigate further.

[2016-09-04 06:14] ACPK opened #45 "Schedule jobs for more than 15 minutes in the future"
When using this gem, what is the recommended way to supplement it in order to execute jobs in the future (ex: emails)?

[2016-09-06 09:39] antonioparisi commented on #38
Hi @tawan, I notice that the last version is `1.6.1 - May 24, 2016` - would be greato to bump the version and release a new version including also this deprecation fix, thanks. 👍

[2016-09-08 06:00] ACPK opened #46 "EB Web and Work - Sharing Database"
I'm assuming they need to share a database, but didn't see this mentioned in the Readme. What are the recommended steps for sharing the RDS instance?

[2016-09-08 18:10] briantigerchow commented on #46
Simply use an environment variable to pass the database url and use that environment variable in both environments.

e.g.

[code]

[2016-09-08 19:25] #46 closed

[2016-09-11 17:22] tawan commented on #45
Hi @ACPK

If you want to execute jobs at a specific point in the future, I'd recommend to have a look at Elastic Beanstalk's Periodic Tasks (Cronjob for Elastic Beanstalk). There is already a discussion ongoing, wether this gem will support periodic tasks in the future. See issue #40 .

Cheers,

Tawan

[2016-09-11 17:25] tawan commented on #43
Hi @ruuts ,

Any news on the possible source of this error? This gem throws the mentioned Error only of the AWS Client throws the error. See  [here](https://git.io/vi0d7)

Cheers,

Tawan

[2016-09-11 17:36] tawan commented on #37
@peterkle Do you enforce SSL in the worker tier? If so, make sure that you use the latest version of this gem. We had an issue before version 1.4.4 but [it had been fixed now](https://github.com/tawan/active-elastic-job/commit/27efeef3dd987b72308342dbe5d67ec694348752).

[2016-09-11 17:36] #37 closed

[2016-09-11 18:05] ruuts commented on #43
@tawan thx for reaching out.

Problems seem to went away after updating the aws-sdk. But i have seen it again one or two times after we deployed that.

I guess its not something related to active elastic job.

When i know more i will post it here.

[2016-09-12 02:12] ACPK commented on #45
@tawan - This is more for drip emails.

[2016-09-21 09:40] lovesmall opened #47 "How is multiple jobs processed ?"
Hi,

If there is 10 jobs coming (assume each job requires 50% CPU running for 2 min), how many will the worker server takes and processes ?

As I used Resque before, I can set worker number to 2 per server, so the server will take only 2 jobs at one time and using 10 mins to finish all the job. And I can view the process detail via a web UI.

So I want to know if I could set a worker number for th

[2016-09-26 05:51] lovesmall commented on #47
Emm... based my test, if I flood the server with background jobs, the worker server will just try to process as much as possible. And result few jobs timeout due to, most likely, too many jobs fighting for resources.

So not sure if it's possible to process job in a orderly fashion?  Really appreciate if @tawan could give a bit guide.

[2016-09-26 19:07] tawan commented on #47
Hi @lovesmall

Thanks for you submission!

One major advantage of Elastic Beanstalk Worker environments is the [autoscaling feature](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features-managing-env-types.html?icmpid=docs_elasticbeanstalk_console). If enabled, it launches additional EC2 instances when load increases. Given your example, autoscaling would start additional woker ser

[2016-09-27 08:22] lovesmall commented on #47
Hi Tawan,

Thank you SO MUCH for tell me the HTTP connections setting, just when I was about to switch back to resque. It works good now.

I'm using auto-scaling but this issue is not related to that. Because even with auto-scaling, i still need handle jobs in an orderly way, as I could have large number of jobs comes in few seconds, and I need "NOT" allow worker takes in too many jobs simultaneou

[2016-10-13 19:50] masonjeffreys opened #48 "Could not obtain a database connection (Puma-ActiveRecord-Postgres-RDS)"
Thanks for this gem - fantastic ease of deployment to elastic beanstalk.

Sometimes, when I have piling up of jobs in SQS, I end up getting a lot of errors like:

_Error while trying to deserialize arguments: could not obtain a database connection within 5.000 seconds (waited 5.000 seconds)_

This would seem to indicate that the worker instance is trying to use more connections than are available

[2016-10-13 21:00] masonjeffreys commented on #48
I think I have found the problem. I was expecting ElasticBeanstalk to use the default puma config, resulting in 0-16 threads. According to the instance I ssh'ed into, and the file

/opt/elasticbeanstalk/support/conf/pumaconf.rb

beanstalk is using 1 worker but 8-32 threads. So even my db pool size of 20 was not enough when SQS started filling up.

Let's hope that fixes the problem!

Thanks again t

[2016-10-13 21:00] #48 closed

[2016-10-25 08:40] ruuts commented on #43
@tawan still experiencing this issue. Its to weird. We will investigate further. @rscheepmaker fyi

[2016-11-05 11:52] tawan commented on #47
Hi @lovesmall

Basically you have correctly described the message's lifecycle when consumed by EB worker environments.

1. Message is in queue (visible)
2. EB worker SQS daemon fetches message from queue (in flight)
3. SQS Daemon tries to establish an HTTP connection to the worker application but blocks as long as max other HTTP connections are already open. When the max HTTP connection setting is

[2016-11-05 11:52] #47 closed

[2016-11-05 15:16] tawan commented on #41
Hi @jcoyne just released 1.6.3

[2016-11-05 15:16] #41 closed

[2016-11-05 15:25] jcoyne commented on #41
Thank you! :clap:

[2016-11-05 16:59] #33 closed

[2016-11-05 16:59] #42 closed

[2016-11-11 21:56] masonjeffreys commented on #40
Instead of using the methods above, I added a check to the middleware.

If a request appears to be coming from SQS but doesn't originate from the ActiveElasticJob gem, we check to see if it matches the "_jobs" route. If so, it's considered to be from the cron.yml file and we perform the action immediate.

This allows me to leave config.force_ssl on even for cron jobs.

`module ActiveElasticJob
  m

[2016-11-15 17:53] caseygipson opened #49 "403 error, same secrete base key"
`2016-11-15T17:44:50Z message: sent to http://localhost:80`
`2016-11-15T17:44:50Z http-err: 2dd429b5-be92-4cc5-bdaf-92e7ba41bc8e (1) 403 - 0.004`

I'm getting a request from localhost but still getting a 403, I have the same secret key base for web and worker tiers. Any tips for debugging or things I may have missed?

[2016-11-15 18:11] caseygipson commented on #49
Update, it turns out it was an rack env mixup, now all is well. Thanks for building this!!!

[2016-11-15 18:11] #49 closed

[2016-11-19 18:29] #40 closed

[2016-11-21 01:12] briantigerchow commented on #40
How does the new built-in support for this behavior work?

[2016-11-27 14:42] tawan commented on #40
Hi all,

Support for periodic tasks has just been released in version v2.0.0. I also added documentation on its usage to the [README](https://github.com/tawan/active-elastic-job/blob/master/README.md#set-up-periodic-tasks-cron-jobs).
@briantigerchow

[2016-11-27 14:45] tawan commented on #33
@cbeer  Starting with version 2.0.0 the gem uses instance profiles per default.

[2016-12-02 20:18] AhmedLoud opened #50 "ArgumentError: wrong number of argument (given 1, expected 2)"
Hello, I tried to follow straight all the documentation for configuring my queue and my application.
However I have an error with the following log:
ArgumentError: wrong number of arguments (given 1, expected 2)
	from /opt/rubies/ruby-2.3.1/lib/ruby/gems/2.3.0/gems/active_elastic_job-2.0.0/lib/active_job/queue_adapters/active_elastic_job_adapter.rb:53:in `initialize'
	from /opt/rubies/ruby-2.3.1/l

[2016-12-02 21:26] AhmedLoud commented on #50
Fixed .
I have put the name of the queue in the wrong place.

I directly put this in the configuration.
config.action_mailer.deliver_later_queue_name = 'awseb-e-cfh****....'

[2016-12-03 13:38] tawan commented on #50
Hi @AhmedLoud

Thanks for your submission. I will look into that.

[2016-12-08 11:14] lovesmall opened #51 "2.0 config issue (possible)"
Hello,

I've upgraded to 2.0 and the periodic tasks is very useful. However I notice a possible issue from commit of "Simplify configuration".

[Aws credential ](https://github.com/tawan/active-elastic-job/blob/39a221bac714f6f87c502c18ccb8ecef0521097b/lib/active_elastic_job/railtie.rb) setting, this line :

`    config.active_elastic_job.aws_credentials = Aws::InstanceProfileCredentials.new
`

1.

[2016-12-08 11:33] tawan commented on #51
Hi @lovesmall Thanks for the feedback! I will look into it.

[2016-12-09 03:06] lovesmall commented on #49
Hello @caseygipson , I have this same issue today. May I know how exactly you solve it ?

[2016-12-09 05:57] khiem-nguyen opened #52 "How to run on local environment"
I want to test elastic job on my local pc. How can I do it?

[2016-12-09 08:25] lovesmall commented on #52
I think you can't test it on local pc as this gem is used to manage job(via aws SQS) between web tier and worker tier.

I config ` config.active_job.queue_adapter = :inline` for my dev and `config.active_job.queue_adapter = :active_elastic_job` for my production.

[2016-12-12 05:56] khiem-nguyen commented on #52
thank alot

[2016-12-30 08:50] ACPK commented on #45
@tawan - Thoughts?

[2016-12-30 10:14] tawan commented on #45
@ACPK Hi,

For this use case, I still think that a periodic cron job is the right approach. This gem supports periodic tasks since 2.0.0 (have a look at the README on how to configure a such task).

Let me sketch it out:

First you need a job that will be executed every 5 minutes (depends on how accurate you need it to be). Lets call it `PrepareShoppingCartMailsJob`.

[code]

Then add a `cron.yaml

[2016-12-30 10:16] tawan commented on #52
@khiem-nguyen Yes, @lovesmall  is right. You can't test it in a local environment, but as @lovesmall  already mentioned, you can configure the `:inline` adapter for local testing.

Thx @lovesmall

[2016-12-30 10:16] #52 closed

[2016-12-30 21:25] ACPK commented on #45
Tawan,

You're amazing!

[2016-12-30 21:26] #45 closed

[2017-01-03 03:06] lovesmall commented on #51
Hello @tawan , I've read aws docs but didn't quite get the idea of this InstanceProfileCredential. Do you have any guide on using this ? Show we pass in any parameters ? So far I can confirm it (alone) takes near 40 seconds during my server starts. (which is really bad =,= )

Maybe we can use the popular ways to set the aws_credential like many other gems ?

Thanks and this is a very useful gem =

[2017-01-05 18:11] ACPK opened #53 "Pausing Jobs"
If we experience a bug / issue, how can we pause a set of jobs?

[2017-01-05 18:28] ACPK opened #54 "Handling errors"
Should the documentation include ways to handle failed jobs so that SQS does not keep running them indefinately.

[2017-01-05 19:00] ACPK commented on #17
@claudeomusic - How did you get it to stop running?

[2017-01-05 19:08] btc commented on #42
Thank you for adding this feature.

[2017-01-10 07:44] lovesmall commented on #54
Hi, I think this gem acts like a bridge between your app and aws SQS. So both failed jobs and pause jobs are handled at aws SQS.

Failed job can handle by [SQS Dead Letter Queue.](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html).

Pause a job, I'm not sure how to do that. Doesn't seem can be paused.

[2017-01-10 17:52] ACPK commented on #54
@lovesmall - I added a "rescue Exception => exception" to stop the SQS job from rerunning.

[2017-01-12 03:47] smarquez1 commented on #50
I'm getting a similar error, probably because I misconfigured the queue.

I think this line should include the aws_region, because `NonExistentQueue` expects two arguments: https://github.com/tawan/active-elastic-job/blob/master/lib/active_job/queue_adapters/active_elastic_job_adapter.rb#L145

[2017-01-24 22:35] ACPK opened #55 "No route matches [POST] "/periodic_tasks"
I get the following error for the cron.yml:

No route matches [POST] "/periodic_tasks

[2017-01-28 18:38] jcoyne opened #56 "Jobs that take longer than 60s fail."
I suspect that long running jobs will not work with the default configuration, as nginx times them out after 60s.  You may want to add something to the readme about this:

nginx/error.log:
[code]

/var/log/aws-sqsd/default.log
[code]

[2017-01-28 18:41] jcoyne commented on #56
According to the Nginx docs, the max timeout is 75s http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_connect_timeout

[2017-01-31 19:23] tawan commented on #55
Hi @ACPK ,

Thanks for your submission. Sorry for the late response.

Did you set the environment variable **PROCESS_ACTIVE_ELASTIC_JOBS** to `true` ?
Since version 2.0 processing of jobs is disabled per default and has to be enabled via this environment variable as described in the [README](https://github.com/tawan/active-elastic-job/blob/master/README.md) in step 6.

Alternatively, if you have s

[2017-01-31 20:09] tawan commented on #53
Hi @ACPK,

Depending on your needs, but you could just stop the worker environment. Jobs would be still enqueued in the queue. However, after you have fixed the bug, you can start the worker environment again, and it will pick up jobs from the queue again. But please, be advised, a queue can get full, if no jobs are retrieved from the queue for a certain time.

[2017-01-31 20:09] #53 closed

[2017-01-31 20:10] #50 closed

[2017-02-02 02:50] garrinmf commented on #55
@ACPK I was having this exact same problem and after lots of double checking and debugging I found that I'd installed the gem @ version 1.7 and never updated to the latest 2.0.  Upgrading to 2.0.0 and deploying fixed this for me.

[2017-02-03 02:27] agirling commented on #51
I am also noticing this issue with 2.0.0.  On a pristine rails app:

version 2.0.0 - "time rake -T"
[code]

version 1.7.0 - "time rake -T"
[code]

[2017-02-03 15:24] javs-perez commented on #56
+1 on this. Any way to get around this?

[2017-02-03 17:23] tawan commented on #51
Hi @lovesmall ,

Thanks for your submission.

I hope I can clarify your issues.
So the default configuration is:
[code]
To make this work, you have to give your EC2 instances the right permissions. You can do that by attaching the **AmazonSQSFullAccess** policy to the role which is assigned to the EC2 instances in your web environment in Elastic Beanstalk. Please have a look at step 3 in the [Usag

[2017-02-03 17:26] tawan commented on #51
Hi @agirling @lovesmall

Thanks for your submission.

My guess is that the long startup happens on your local machine when you startup the application for development. Can you confirm?

In this case, I will definitely have to do something about it. Probably I will make the configuration of the AWS credentials lazy loading.

Cheers,

Tawan

[2017-02-05 14:20] #51 closed

[2017-02-05 14:58] lovesmall commented on #51
Hi @tawan

Thank you for the explanation.

I think it is a very elegant solution for the aws credential generation. Just that if it happens on local dev, this will takes a very long time (due to timeout maybe?)

As for my current solution, I store aws keys in the elastic beanstalk software configuration (access them as Env variable). So they are not in the github. But still, I think your way looks

[2017-02-05 19:20] ACPK opened #57 "Using 256kb client rather than the new 2gb sqs"
See: https://github.com/awslabs/amazon-sqs-java-extended-client-lib

[2017-02-05 22:11] ACPK commented on #55
@tawan - I have tried both with no luck.

@tawan  - I'm using 2.0.1.

[2017-02-06 15:05] javs-perez commented on #56
@tawas @jcoyne do you know of a way to get around this? I'm testing the gem in AWS in a staging environment and we have some jobs that take over 60s, they are all failing. I have been looking at other options/gems but none of them seem to take into consideration the SQS and Worker environments working together.

[2017-02-07 20:02] tawan commented on #56
Hi @javs-perez @jcoyne

Thanks for your submission. I was doing a little research as well and unfortunately I think there is no elegant solution. You will have to increase nginx' timeout setting be configuring a container command. Depending on whether you have a Docker setup in place or not you can try these approaches:

* [Without docker](https://gist.github.com/moea/01afc49934730e4d240e)
* [With

[2017-02-08 15:27] javs-perez commented on #56
Hi @tawan,

Thanks for taking the time at looking at this. I have already resolved the issue, did not realize our app was running rack-timeout with a 60 second default, so I changed that value together with the nginx' configuration and it resolved the issue.

Either way, I wish the SQS daemon inside the worker would handle the connection to the app differently, an HTTP request could cause various

[2017-02-08 15:38] jcoyne commented on #56
If you add a message on the README about the default config of NGinx causing this problem, I think that would resolve this ticket.

[2017-02-15 21:36] ACPK commented on #55
@tawan - I still get a 404 for posts to /periodic_tasks.

[2017-03-01 06:40] khiem-nguyen opened #59 "Litmit number of concurrency jobs"
How to  limit number of concurrency job.

Worker instances only has enough resources for about 10 concurrently jobs.
But it receives more than these number of requests so it cannot handle all of them

Please help to prevent it

[2017-03-01 07:28] #59 closed

[2017-03-01 18:32] tawan commented on #59
Hi @khiem-nguyen ,

Did you find a solution? In case you are still looking, there has been a similar issue. I think the answer might help in your case: https://github.com/tawan/active-elastic-job/issues/47

Cheers,

Tawan

[2017-04-04 08:11] eamon-hguk commented on #43
I still get this issue, and I have all the latest AWS gems, had to downgrade to the 1.7 version.

Unfortunately a queue with this name does not exist in this
            region. Either create an Amazon SQS queue named staging_mailer_queue -
            you can do this in AWS console, make sure to select region
            '' - or you
            select another queue for your jobs.

[2017-04-04 22:03] cschulte22 commented on #43
I just spent some time debugging a similar issue on my end.  `job.perform_now` was working fine, but any call to `job.perform_later` would trigger the `NonExistentQueue` error.

Turns out that if you're using the default ElasticBeanstalk IAM permissions, you'll get the `AWSElasticBeanstalkWorkerTier` policy, which doesn't give you enough access to SQS.

Specifically, this line of code was triggeri

[2017-04-05 17:35] mrreynolds commented on #54
As active-elastic-job is implemented as a rack middleware things like the Rails log and exception tracking aren't possible 😌

[2017-04-06 00:22] ACPK commented on #54
@mrreynolds - Worked for me.

[2017-04-30 02:35] tadao opened #60 "Errno::ETIMEDOUT raised"
I tried to do a long time job about 3 hours using active-elastic-job.
Then, I got an error.

But, the background job was working.
What can I solve?

[2017-05-03 15:41] fguillen commented on #43
I am having the same error:

[code]

The error is confused and not really intuitive, would be nice if the error:

- is responding with targeted queue name in quotes: 'production-campaignplatform-activejobs' the actual message made me think the targeted name was: 'production-campaignplatform-activejobs -'
- the proper aws region is showed properly
- the list of sqs available names are shown so we c

[2017-05-08 20:23] dorner opened #61 "Don't try to get instance credentials in development"
Currently it takes an extra 60 seconds to run Rails console or server in development mode because it's trying to create an InstanceProfileCredentials, which doesn't do anything in development mode.

Can we please disable this command if Rails.env.development?

There isn't even a way to monkey patch this code out of the way because it's done as part of the class definition, which is in turn include

[2017-06-02 16:34] fguillen opened #65 "ActiveJob::QueueAdapters::ActiveElasticJobAdapter::NonExistentQueue when Mailer"
I have configured the `active-elastic-job` gem properly to manage ActiveJobs, and it works.

But when I try to send a `ActionMailer.deliver_later` it tries to use a Queue that is not existing:

    production-mailer

This is what I have in the `/config/environments/production.rb`:

    config.active_job.queue_adapter = :active_elastic_job
    config.active_job.queue_name_prefix = Rails.env
    con

[2017-06-03 00:23] mbklein commented on #56
@jcoyne:

That's the timeout to establish a connection with the backend server, not the timeout to wait for a response. I'm still trying to figure out if such a parameter exists for the upstream/proxy modules. So far all I've found is a `fastcgi_timeout` (that will, in fact, take an arbitrarily high value).

[2017-06-03 00:28] mbklein commented on #56
Oh, there it is:

http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_read_timeout

[2017-06-21 14:58] dorner opened #69 "Set job provider ID"
ActiveJob allows you to set an adapter-specific "job provider ID". Setting this to the ActiveJob class will allow for better auditing of issues (e.g. if a message is sent but never gets run).

[2017-06-30 01:26] einzige commented on #65
config.active_elastic_job.aws_region = 'your region'

[2017-06-30 11:56] fguillen commented on #65
@einzige thanks, it is working I suggest to add something in the README.

[2017-06-30 11:56] #65 closed

[2017-07-06 13:15] Ravenclaw968 opened #71 "Periodic jobs"
For periodic jobs, where do I place the cron.yaml file?

[2017-07-10 01:06] tawan commented on #71
Hi,

In the root folder of your project.

Cheers,

Tawan

[2017-07-10 01:06] #71 closed

[2017-07-10 01:08] tawan commented on #69
Thanks for you submission. I will look into that.

[2017-07-10 17:29] mbklein commented on #56
@jcoyne @tawan In case you're still looking for a fix: https://github.com/nulib/avalon/blob/deploy-aws-staging/.ebextensions/05_nginx_worker_timeout.config

Seems like documenting that (or something similar) in the README would close this issue.

[2017-08-01 00:49] holman commented on #25
Has anyone run into this recently? I'm getting these http => https redirects again on 2.0.1.

[2017-08-01 01:29] holman opened #72 "Consider a more flexible `PROCESS_ACTIVE_ELASTIC_JOBS`"
So I just had a little bit of a weird debugging time, which led me to assume another problem was happening in https://github.com/tawan/active-elastic-job/issues/25#issuecomment-319236473.

Basically, this line:

https://github.com/tawan/active-elastic-job/blob/9c748eae1077a90a0f803a02cc7b08d4f12bd3d3/lib/active_elastic_job/railtie.rb#L4

I had `PROCESS_ACTIVE_ELASTIC_JOBS` set to `TRUE`, in part b

[2017-09-15 17:35] Austex opened #74 "Elastic Beanstalk app not connecting to SQS service"
I went through all the steps in the setup and I get this message. Can you help?

Seahorse::Client::NetworkingError (Failed to open TCP connection to sqs.https:443 (getaddrinfo: Name or service not known)):

[2017-10-20 09:50] eamon-hguk opened #76 "Has this project been abandoned?"
I notice there is no activity on this project in terms of merges, release etc, can you let us know if has been abandoned so users can consider other options.

Thank you

[2017-10-31 10:59] hurrycaner commented on #76
@tawan ?

[2017-11-06 01:07] tawan commented on #76
Hi @eamon-hguk @hurrycaner

This project has not been abandoned. I will look into open issues next weekend, when I have more time on my hands.

Thanks,

Tawan

[2017-11-06 12:42] eamon-hguk commented on #76
Great to hear, thank you for your effort!

Eamon

[2017-11-07 18:10] smittix6 opened #77 "The request must contain the parameter MessageGroupId"
I'm getting the following error, "2017-11-07T16:59:59Z scheduler: dropping leader, due to failed to send message for job 'EmailTestJob', because: The request must contain the parameter MessageGroupId. (Aws::SQS::Errors::MissingParameter)". Is this a known issue, or is this new?

[2017-11-16 03:37] pablonahuelgomez opened #79 "Current Travis build is broken"
Please see: https://travis-ci.org/tawan/active-elastic-job

Would like to help fixing these specs. Seems that they're coupled to a specific AWS account.

[2017-11-16 03:39] pablonahuelgomez commented on #77
@smittix6 I just submitted a PR which fixes the problem you're facing. `MessageGroupId` is a required argument for FIFO queues.

[2017-11-20 01:47] tawan commented on #79
Hi, thanks for offering your help. I'm currently working on automating the bootstrapping of EB environments. This would allow to run  the travis builds independently.

[2017-12-11 00:56] #79 closed

[2017-12-11 01:02] tawan commented on #79
Hi @pablonahuelgomez,
Travis builds launches now the necessary elastic beanstalk environments. Therefore, issuing a PR and triggering a Travis build is probably the easiest way to test the integration with AWS EB. If you want to run a subset of specs that do not require a launched EB environment, before issuing a PR, you can do so:

[code]

[2017-12-11 11:38] pablonahuelgomez commented on #79
Thanks @tawan that looks great!

[2017-12-19 14:38] naterexw commented on #74
Are u using ActionCable?  [check this](https://blog.cmgresearch.com/2017/05/11/step-7-action-cable-on-elastic-beanstalk.html)

[2018-02-01 04:58] joshallenbrown opened #82 "Rack app error handling request"
I'm getting this error when SQS sends a message to my worker environment.
`Rack app error handling request { POST / }
#<NotImplementedError: NotImplementedError>`

I am getting the requests from SQS properly as `"POST / HTTP/1.1" 500 77 "-" "aws-sqsd/2.3" "-"`

Any feedback is appreciated. Thanks

[2018-02-02 18:01] joshallenbrown commented on #82
This can be closed. The issue was related to
https://github.com/resque/resque/issues/1302
Thanks guys!

[2018-02-02 18:01] #82 closed

[2018-02-21 21:06] joselo commented on #25
I'm still getting this error 301, I'm using the version ~> 2.0 and I the version of the sqs is `aws-sqsd/2.3`

It could be caused by my web tier configuration for nginx?? also I have my production file with `config.force_ssl = true`

[code]
I really needs to redirect all traffic to htts

Any idea to solve this? :(

[2018-02-25 05:32] joselo commented on #49
Hey guys any idea how to solve this I still have a 403 error :(

[2018-02-26 23:25] joselo commented on #25
I solved the problem, I think basically SQS works over http not https so if you rewrite your request to https, sqs doesn't work, here is my .ebextension for nginx.

I tested and it works

[code]

[2018-04-09 17:10] puneetpandey opened #86 "ActiveJob::QueueAdapters::ActiveElasticJobAdapter::SerializedJobTooBig"
Hi,

I am using `active_elastic_job` gem and have installed and configured web environment and worker environment successfully.

When I try to send image data to background I get:

    I, [2018-04-09T16:04:29.215625 #9708]  INFO -- : [f5b04fe1-15a6-4ee3-bdf6-ef3ed395a3c5] Completed 401 Unauthorized in 10763ms (ActiveRecord: 0.0ms)
    F, [2018-04-09T16:04:29.216187 #9708] FATAL -- : [f5b04fe1-15a6

[2018-04-09 17:14] puneetpandey commented on #86
I came across with this link: https://github.com/awslabs/amazon-sqs-java-extended-client-lib but not sure if I can use it in my rails app! Please advise.

[2018-04-16 19:15] oamado commented on #76
so, can you close this issue? @tawan Thanks for your efort and your time

[2018-04-23 14:45] youngbrioche opened #87 "Message Verification with Rails 5.2"
After upgrading to Rails 5.2 we're seeing

[code]

in all of our jobs. Looks like something changed within message verification:

[code]

Setting this to either `true` or `false` has no effect, the exception remains.

[2018-05-01 21:40] snovotny commented on #87
It appears this has to do with how the `secret_key_base` is set.  We have a vanilla Rails 5.2 app and it was showing that config value was `nil`; adding this to an initializer got the queuing to work:

[code]

[2018-05-13 02:56] SleeplessByte commented on #86
No. This is an Amazon Limit.

https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-limits.html#limits-queues

Instead, you could send your job parameters to S3 and only send a pointer as your message. Then, in the job, retrieve the data from S3 using the pointer.

[2018-05-16 21:27] marz0 opened #89 "Incompatible with ActiveStorage"
Steps to reproduce:
1. Create simple rails 5.2 application
2. Install ActiveStorage `rails active_storage:install`
3. Generate a scaffold for Posts (e.g. `rails g scaffold posts title:string`)
4. Run migrations `bin/rails db:migrate`
5. Add `has_one_attached :document` to `app/model/posts.rb`
6. Add `<%= form.filefield :document, direct_upload: true %>` to `app/views/posts/_form.html.erb`

You sho

[2018-05-25 02:00] jpsilvashy commented on #76
@tawan, any way we can help out? We depend on this project. Got a todo list?

[2018-05-25 02:09] tawan commented on #76
@jpsilvashy  Thanks for reaching out. I guess I have to admit that I need help with the backlog. Are you interested to taking on some of the todos?

[2018-06-22 02:36] steveclarkin opened #90 "Support for AWS SDK v3?"
Any plans to support AWS SDK v3?

I see there was a PR here #88

[2018-08-10 09:17] marcgreenstock commented on #76
@tawan I'd like to help out too if you could do with the help in testing and merging some of the pull requests.

[2018-08-14 20:05] waissbluth opened #93 "Error 499 or 504 when worker is processing a long job"
I'm not sure if this is actually a bug or misconfiguration, but for long-running jobs (i.e. jobs that take longer than the "Connection timeout" of 60 seconds (which is the maximum), nginx returns error 499 (`[14/Aug/2018:18:25:05 +0000] "POST / HTTP/1.1" 499 0 "-" "aws-sqsd/2.3" "-"`) or 504 (`[14/Aug/2018:20:03:40 +0000] "POST / HTTP/1.1" 504 183 "-" "aws-sqsd/2.3" "-"`) even as the worker actual

[2018-08-14 20:10] waissbluth commented on #93
Seems related to #56; however, we are not running rack-timeout.

[2018-08-14 20:56] jcoyne commented on #56
@waissbluth it was my understanding that active-elastic-job is are actually executing the worker in a HTTP request context. So, once the connection dies, the work stops.

[2018-08-20 00:55] tawan commented on #76
@jpsilvashy If you have time, I'd like to invite you to prioritize the open issues and create a list of the top 5. I don't use this project in production, therefore I'm don't have visibility in to what issues are the most pressing.

@marcgreenstock Let me explain the biggest blocker for contributing to the project. The integration tests need to run against resources in AWS. Currently, I run the te

[2018-08-20 12:03] marcgreenstock commented on #76
Hi @tawan Thanks for this. I can see how the integration tests create a huge bottle neck so I would like to suggest replacing EB integration with local a integration suite using a dummy app instead.

[SQS messages](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features-managing-env-tiers.html#worker-daemon) and [Periodic tasks](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/

[2018-09-05 01:43] tawan commented on #76
@marcgreenstock  Thanks for your input. I'm working on a new release process that intends to address the issues. I will connect with you by mail if that's ok.

[2018-09-06 12:29] marcgreenstock commented on #76
@tawan, sure please email me.

[2018-09-09 12:33] mohideen opened #94 "Error 403 in AWS EB multi container docker environment"
When running in docker, sqs_message_consumer expects the cgroup to contain the word `docker` but that is not present in the current solution stack.
https://github.com/tawan/active-elastic-job/blob/0fc32d5969879dbdde1c94473ba67fd5e77a5192/lib/active_elastic_job/rack/sqs_message_consumer.rb#L125

Output of `cat /proc/1/cgroup`
[code]

Solution Stack: `64bit Amazon Linux 2018.03 v2.11.2 running Multi

[2018-10-02 20:08] lautarocastillo commented on #90
Does it work with Active Storage?

[2018-10-03 20:14] kceb commented on #89
I think this may have to do with active-elastic-job using v2 of the aws-sdk gem while activestorage is dependent on v3

[2018-10-19 18:58] YoranBrondsema opened #98 "Specify queue for a periodic task"
Suppose I have 2 worker environments, corresponding to the queues `high` and `low`. Will the periodic tasks that are defined in `cron.yaml` run in both environments? Or will the queue that is defined in the job definition of the task be respected? This isn't entirely clear to me from [the documentation](https://github.com/tawan/active-elastic-job#set-up-periodic-tasks-cron-jobs).

[2018-11-09 14:09] rubyisbeautiful commented on #76
@tawan and @marcgreenstock we also use this in production, and as far as I can tell, no other gem that does what this one does.  The alternatives available are to hijack EB with an off the shelf asynchronous processor (resque et al).
There is in particular, a lot of folks waiting to see the outcome of #88.  There is a PR already, which I have been using in production (albeit on a pretty small appl

[2018-11-09 15:09] rubyisbeautiful commented on #89
Hey @kceb, see #88 and comments by @samnang on using  v2 and credentials.

[2018-11-14 10:12] richygit opened #100 "301 response force_ssl = false"
When I queue my jobs via SQS I can see them being queued ok:

`I, [2018-11-14T18:53:11.424222 #11882]  INFO -- : [ActiveJob] Enqueued ImportSensorFileJob (Job ID: fdd1d14d-8bbf-4e0c-bb89-ad39ec865f28) to ActiveElasticJob(testqueue) with arguments: "blah.csv", 1`

And in the application right now I have `force_ssl = false`

But when the job is handled in the Beanstalk worker it's replying with a 30

[2019-02-08 02:58] bookmebus commented on #98
I think you can specify the queue name in your ActiveJob class definition instead.

[2019-02-08 03:33] bookmebus opened #101 "Periodic Tasks ( Cron jobs ) with Http error 404"
I have my cron.yaml setup as below

[code]

I got this in my /var/log/support/access.log

127.0.0.1 - - [08/Feb/2019:03:20:00 +0000] "POST /expired_pending_ticket HTTP/1.1" 404 0 "-" "aws-sqsd/2.4"
127.0.0.1 - - [08/Feb/2019:03:20:00 +0000] "POST /expired_pending_ticket HTTP/1.1" 404 0 "-" "aws-sqsd/2.4"
127.0.0.1 - - [08/Feb/2019:03:20:00 +0000] "POST /expired_pending_ticket HTTP/1.1" 404 0 "-" "

[2019-02-08 04:40] bookmebus commented on #101
solved this with url: '/periodic_tasks' like this:

[code]

[2019-02-08 14:11] YoranBrondsema commented on #98
Thanks for the reply @bookmebus. Yes figured that out in the end. Will close the issue.

[2019-02-08 14:11] #98 closed

[2019-02-11 02:29] bookmebus opened #102 "Action mailer deliver_later does not work"
I am migrating Sidekiq jot to Active Elastic Job in eb worker env. I am using Mandrill API to send transactional email to customers.

[code]
It received the email, however if I do this

[code]
I got this back from production console

[code]
A new queue added to Amazon SQS correctly but it seems that Active Elastic Job does not process the queue.

Is there anything wrong with my worker/gem setup?

[2019-02-11 05:35] bookmebus commented on #102
solved. I have my worker connect to **default** queue. Surprisingly one worker can associate with one queue only. I have to have two workers or change my code to run under one queue name.

[2019-02-14 15:05] swaincreates commented on #76
Is it safe to say this project is abandoned? Issue #88 is pretty critical

[2019-02-17 13:59] floze opened #103 "Request body should be rewound by consumer"
The request body here is being consumed by JSON:

https://github.com/tawan/active-elastic-job/blob/ec51c5d9dedc4a1b47f2db41f26d5fceb251e979/lib/active_elastic_job/rack/sqs_message_consumer.rb#L100

In my case, request.body is an IO (PhusionPassenger::Utils::TeeInput) that never gets a rewind after that, which leads to problems downstream the request handling process, e.g. other JSON parsers chokin

[2019-03-19 13:56] lucienLopez commented on #27
it can also happen if you forgot to set PROCESS_ACTIVE_ELASTIC_JOBS to true

[2019-03-26 12:48] fabiensebban opened #104 "Requests from sqs deamon forbi"
https://github.com/tawan/active-elastic-job/blob/ec51c5d9dedc4a1b47f2db41f26d5fceb251e979/lib/active_elastic_job/rack/sqs_message_consumer.rb#L37

[2019-04-14 04:12] BerkhanBerkdemir opened #106 "Applying new patches"
Hello guys,

We'll use Elastic Beanstalk with ActiveJob, and we found this awesome gem; however, it has some problems with CI (especially Ruby 2.4) and @tawan was not using Elastic Beanstalk anymore. Also, test files depend to real Elastic Beanstalk environment, but *I think*, we can achieve this problem with using stubbed data.

These are the main reasons why we clone and maintain by our team.

S

[2019-04-22 11:39] degendra commented on #90
@lautarocastillo @steveclarkin  Current master version support AWS SDK v3. To support Active Storage you need to either create a default queue on SQS or configure active storage default queue:

**`config.active_storage.queue = :queue_name`**

[2019-07-03 11:55] srladuani commented on #27
Hi @lucienLopez
It really helped me a lot. Thanks a lot

[2019-07-04 16:26] fazo96 commented on #56
@mbklein https://github.com/nulib/avalon/blob/deploy-aws-staging/.ebextensions/05_nginx_worker_timeout.config

This link is dead, and I can't find that file in the repo. I tried using ebextensions to raise the timeout but it's not working.

[2019-08-21 02:22] #106 closed

[2019-11-13 21:34] joeyparis commented on #94
I'm having a similar issue with the AWS EB single container docker environment. Did you ever find a work around for this?

[2019-11-13 21:45] joeyparis commented on #76
@swaincreates it does look like this repo has been abandoned. It would be great to see it passed on to someone else who is able to continue supporting its development.

[2019-11-21 15:39] mohideen commented on #94
@joeyparis I created a PR to fix it #107. As it was not merged, I ended up using my own fork.
You can test using my fork using:
[code]
You may want to create your own fork.

[2019-11-24 09:35] AdilSarwarNU commented on #55
@ACPK did you resolve this?

[2019-11-24 10:25] azazahmed93 opened #108 "Job gets enqueued but code in perform function won't run"
Hi so I followed the docs and I'm stuck at a point where my job gets enqueued but the method perform_later (defined under perform in MyJob) doesn't do anything.

To my understanding after enqueue my worker should perform the task written in the active job.
I am using:

- Rails 5
- ENV['PROCESS_ACTIVE_ELASTIC_JOBS'] set to true
- AWS credentials are set
- Active Job queue adapter set
- Queue name s

[2019-11-24 10:25] azazahmed93 commented on #108
@tawan

[2019-11-24 11:55] AdilSarwarNU commented on #108
Facing same issue here!

[2019-11-24 11:58] azazahmed93 commented on #108
@cbeer @mkozono @mdoza @karensg please if you can help on this issue? I've tried everything.

[2019-11-24 12:06] karensg commented on #108
I went through the docs in the readme and it worked for me.
- Dont forget that the release needs to be fixed with the latest commit here: https://github.com/karensg/active-elastic-job
- Set up correct queues in Elastic beanstalk

[2019-11-24 12:09] azazahmed93 commented on #108
Thanks for the reply @karensg I've added the gem like this:
gem 'active_elastic_job', git: 'https://github.com/tawan/active-elastic-job'
I'll give your repo here now and try.

Our job seems to be enqueued but its not intercepted by Rack I think because It hits the POST http '/' and as per the docs it HTTP post should be ignored.

[2019-11-24 12:11] azazahmed93 commented on #108
I see worker logs and puts the request body which responded me with this object on worker logs:
{"job_class":"BroadcastEmailJob","job_id":"3a01206b-4322-4ae7-9f34-535d1b4d0fbe","provider_job_id":null,"queue_name":"instagram_queue","priority":null,"arguments":[{"_aj_globalid":"gid://amplifyd/User/843"}],"executions":0,"locale":"en"}

[2019-11-24 12:16] karensg commented on #108
Did you set up your worker environment with the correct queue?

[2019-11-24 12:21] azazahmed93 commented on #108
Yes I have setup a queue
instagram_queue

and its set in my active job in "queue_as:" parameter too.

Confirmed it from the SQS Queue as well, can see messages in Flight as well.

Problem is they are **NOT** being intercepted by Rack at all and POSTed to HTTP / that is configured in Worker Configuration.

They above log that I posted are from Worker inside the POST HTTP.

Ideally they should be in

[2019-11-24 16:34] azazahmed93 commented on #108
Issue got resolved I nearly spent 36 hours in this thing.

**[Solution]**
Set:
`config.force_ssl = true` in environment file e.g development.rb

but with this nginx settings in my beanstalk config file  "https-redirect-ruby-puma.config":
`files:
  "/tmp/45_nginx_https_rw.sh":
    owner: root
    group: root
    mode: "000644"
    content: |
      #! /bin/bash

      CONFIGURED=`grep -c "return 301

[2019-11-25 14:38] ACPK commented on #55
@AdilSarwarNU  - I don't believe it was resolved though I am no longer using active-elastic-job. It seems like I wasn't the only person hitting the error so I don't know if was resolved.

[2019-11-25 14:38] #55 closed

[2019-11-26 10:07] AdilSarwarNU commented on #108
Please close this @azazahmed93

[2019-11-26 10:53] #108 closed

[2019-12-10 18:14] AdilSarwarNU commented on #49
@caseygipson I am facing the same issue, we're getting 200 on / on our development environment
but on our Prod Environment it throughts 403.

The configs for Rack are identical.

[2019-12-10 18:47] caseygipson commented on #49
@AdilSarwarNU A few things to check, SQS permissions, name of the queue is provided via queue_as in your job, and config.active_job.queue_adapter = :active_elastic_job is set.

[2019-12-12 17:02] waissbluth commented on #106
@BerkhanBerkdemir did you move that repo to another location? It is a 404 now. Thanks!

[2020-01-07 12:07] barrywoolgar opened #109 "[solved] Very long delay when enqueuing new jobs (~38 seconds)"
When queuing a new job, I've noticed that the following configuration will result in a delay of 38 seconds before script execution can continue:

- Use this gem's default of lazy loading of credentials from EC2 role
- Deploy the Rails app in a docker instance on EC2
- Use a recent version of the `aws-sdk-core` gem

The delay is caused by the SDK's attempt to request credentials from the Instance M

[2020-01-21 00:18] tawan commented on #76
Hi all who are following this issue,

I hardly find the time to maintain this project as a single contributor (which is kind of obvious from the pending PRs and open issues). I'm looking for interested collaborators. If you want to help out to maintain this project, then please +1 this comment and I will add you as a collaborator.

Many thanks in advance,

Tawan

[2020-01-21 14:40] puneetpandey opened #110 "Rails6 ActiveJob::QueueAdapters::ActiveElasticJobAdapter::NonExistentQueue"
We have recently upgraded our app to Rails6 and after upgrading all our emails using `deliver_later` are breaking with below message:

    ActiveJob::QueueAdapters::ActiveElasticJobAdapter::NonExistentQueue:
    The job is bound to queue at mailers. Unfortunately a queue with this name does not exist
    in this region. Either create an Amazon SQS queue named mailers - you can do this in AWS
    c

[2020-01-22 07:35] puneetpandey commented on #110
It seems like it's related to setting up the correct queue name for `deliver_later` mailers. In my case, I used this line: `config.action_mailer.deliver_later_queue_name = ENV['QUEUE_NAME']` and mailers with `deliver_later` started working fine.

This was introduced in Rails5 but it seems it is must to define setting in Rails6. Maybe we can add this to README / Troubleshooting steps

[2020-01-22 07:35] #110 closed

[2020-01-30 01:10] tawan commented on #76
Thanks @swaincreates and @joeyparis for stepping up. I sent you an invite for collaboration. Other are still welcome too!

[2020-01-30 02:38] swaincreates commented on #76
Thanks @tawan will try to get up to speed soon and start helping out!

[2020-03-01 20:37] rccassity commented on #47
@tawan
I saw your comment from four years ago. When enabling autoscaling on a worker environment, a load balancer will have to be created manually, correct? My autoscaling worker environment is stuck in a Severe Health State. I have tried relaunching the environment but I still cannot sustain a healthy environment. Environment health has transitioned from No Data to Severe. Do you have any additio

[2020-03-27 16:18] AdamT213 opened #112 "Is this actively maintained?"
When I add the gem to my gemfile, it says that it depends on aws sdk v2, but I need to support v3. I see a commit in this repository that supposedly updates to support v3,  but rubygems.org lists v2 as a dependency.  Any plans to update any time soon? Thanks.

[2020-04-09 05:29] #60 closed

[2020-07-07 15:10] barrywoolgar commented on #112
Until a new version can be tagged and pushed you might have some luck with this:

    gem 'active_elastic_job', github: 'tawan/active-elastic-job', ref: '79444e7'

That'll pin it to just after the commit that made the change you mentioned.

I've not tried it yet, but will do soon.

[2020-07-11 14:08] cavebring opened #113 "ActionController::RoutingError (No route matches [POST] "/scheduled"):"
Hi,
When I run scheduled job, like:

`ReportMetricEvent.set(wait: 10.minutes).perform_later(title: "Account Maintanance", text: "Updated!", alert_type: 'success')`

Then SQS do posts to /scheduled it seems but active-elastic-job don't pick that up.

Is this a bug or something I am missing?

Raw:
[code]

[2020-08-24 15:39] antgel commented on #112
@barrywoolgar How did your tests go? I'm also kind of interested in this gem, but if it's not maintained... :roll_eyes:

[2020-08-24 15:56] barrywoolgar commented on #112
Hi @antgel All seems to be working after a month in production, apologies for not updating.

I've been using the gem for much longer without any issue but I'll probably be going a different route for future AWS/EB projects (not sure what yet though!).

[2020-10-30 19:08] fero46 opened #114 "Trigger Rails Job from Java Service"
Hello,

I have a question regarding sending an SQS message to start a Rails job.

I have written a service program in Java which should start a Rails job after a certain data processing. I would like to send a SQS message to start the Rails job.

The background jobs run and work in a pure Rails environment. My question is, how would the SQS message look like to start the Rails job ? The message wi

[2020-12-06 18:36] jeffxor commented on #112
@barrywoolgar be interested what your route would be

[2020-12-08 09:15] barrywoolgar commented on #112
Hi @jeffxor I've not had a similar-sized project yet but if I was trying to stick with EBS and the worker tier, I'd probably just use environment-specific configuration to make the worker instances run Sidekiq and drop SQS altogether.

There are probably more flexible/fashionable solutions involving docker compose / kubernetes now though!

[2020-12-20 22:03] tawan commented on #112
Hi, Author here!

I don't find the time to maintain this gem anymore. Maybe when my son is old enough to go to school I will re-consider, but this is a few years out :)

I'm looking for an organization who is running this code in production and is willing to take over maintaining this gem. If you are part of such organization and think it would be a good fit then please reach out to me either be c

[2020-12-21 18:28] joeyparis commented on #56
I was able to get this working by adding a file with this to the `nginx/conf.d` directory:

[code]

Of course, the 1800 seconds could be changed to whatever fits your needs.

--

Although I understand the concerns about just increasing the nginx read timeout, I feel this is sufficient for the time being. I'm attempting to clean up this git and get the gem more up to date so I am going to go ahead

[2020-12-21 18:28] #56 closed

[2020-12-23 18:17] #112 closed

[2020-12-23 18:18] #61 closed

[2020-12-23 18:21] joeyparis commented on #76
I have recently taken over this project (along with the help of some other collaborators). I could definitely use some help, especially when it comes to spec testing/integration testing as they're not my strong area. I'm going to go ahead and close this issue now. Feel free to open a new one if you have anything you want to be fixed in version 3.

[2020-12-23 18:21] #76 closed

[2020-12-23 18:23] joeyparis commented on #90
Version 3 of active-elastic-job is set to support AWS SDK v3. I also believe degendra's solution will work to solve lautarocastillo's question so I am going to close this issue.

[2020-12-23 18:23] #90 closed

[2020-12-23 19:05] joeyparis commented on #101
Glad you got this solved!

[2020-12-23 19:05] #101 closed

[2020-12-23 21:11] joeyparis commented on #109
Hey @barrywoolgar, I have since taken over maintaining this gem. Would you be interested in making a PR to account for this?

[2020-12-23 21:18] joeyparis commented on #113
I'm not sure why your SQS would be posting to `/scheduled`, but the default is `/periodic_tasks`. You can override this setting though with `config.active_elastic_job.periodic_tasks_route = '/scheduled'`. Hopefully, that helps! I am going to close this issue for now, but if you aren't able to get it working with the config update, feel free to open it back up!

[2020-12-23 21:18] #113 closed

[2020-12-23 21:22] joeyparis commented on #102
Ya, unfortunately, this does seem to be a limitation of ElasticBeanstalk which is kind of disappointing. I personally ended up just having all of my jobs run through one queue which although not ideal, works enough. Glad you got it solved though!

[2020-12-23 21:22] #102 closed

[2020-12-24 14:08] januszm commented on #56
@joeyparis  should we document this nginx hack?

[2020-12-24 14:16] joeyparis commented on #56
@januszm that's a good idea. Especially considering the nature of jobs and that taking longer than 60 seconds probably isn't that uncommon. That being said, my implementation of this in production has a few extra steps that way the nginx timeout is only extended on the worker server and not the main one. I'm on Amazon Linux 2 so I'm using the platform hooks, but I'm sure this would work in the old

[2021-01-04 15:56] joeyparis commented on #93
@waissbluth I believe this to be a duplicate of #56. See the solution here: https://github.com/tawan/active-elastic-job/issues/56#issuecomment-750894893. I've also included this in the documentation for the upcoming V3 release.

[2021-01-04 15:56] #93 closed

[2021-01-04 15:58] #69 closed

[2021-01-04 15:59] #72 closed

[2021-01-04 16:01] #87 closed

[2021-01-04 16:02] #94 closed

[2021-01-04 16:03] joeyparis commented on #86
Closing as this is a limitation of Amazon SQS and not directly a problem with this gem.

[2021-01-04 16:03] #86 closed

[2021-01-27 17:44] joeyparis commented on #57
This seems to be limited to java as I can't find a suitable version of that for ruby. I will happily accept a pull request implementing this feature (or referencing another gem that extends the AWS sqs client) though!

[2021-01-27 17:44] #57 closed

[2021-02-09 19:56] CodySwannGT opened #123 "update aws-sdk-sqs"
Can this not be pinned at version 1 of this gem?

[2021-02-09 20:00] joeyparis commented on #123
I'm not sure I understand the question. Do you want aws-sdk-sqs on version 1 or do you not?

[2021-02-09 20:13] januszm commented on #123
@CodySwannGT looks like v1 is your only choice anyway: https://rubygems.org/gems/aws-sdk-sqs/versions
when aws-sdk-sqs 2+ is released, we can make a well-tested active-elastic-job release 2 compatible with the new sdk. But we can cross that bridge when we come to it

[2021-02-09 20:14] CodySwannGT commented on #123
Thanks for the replies. You're absolutely right. This was complete user error. I apologize!

[2021-02-09 20:14] #123 closed

[2021-02-11 02:30] jmortlock opened #124 "Rails 6.1 - Running inside Docker"
Currently the middleware will return a 403 with Rails 6.1 and both the new version of the gem and the old one.

I have tracked this done to Rails now honouring the X-Forwarded-For header which breaks the docker IP check.

I will have PR to fix this shortly

[2021-02-11 06:44] jmortlock commented on #109
I don't think this is something you fix in the Gem.

If you are using ec2 instance profiles than you need to be on an idmsv2 compatible host, which is support on Beanstalk with the AL2 platforms, otherwise you hit this delay (in the aws-sdk-ruby gem) whilst it tries the new connection eventually failing back to idmsv1.

The easiest workaround for those still on Amazon Linux 1 EB platforms is to di

[2021-02-17 19:09] #124 closed

[2021-02-22 19:45] joeyparis opened #127 "Version bumps should automatically update integration testing Gemfile.lock files"
Cause a minor headache with the release moving from 3.0.0.alpha to 3.0.0. Deployment testing was failing because the Gemfile.lock in integration test rails-app-5.2 was still referring to the alpha release and not the current one. I was able to get it working again by running `bundle install` in the integration apps directory. This should happen automatically on new gemfile builds/version bumps

[2021-03-24 12:44] styrmis commented on #77
@JoeyLeadJig @joeyparis Would you be interested in a PR which revives the one that @pablonahuelgomez submitted to allow FIFO queues to be used?

We would like to switch to using FIFO queues but as it stands the gem does not support this (as documented in the README). The approach of using the job class and id for the group id and deduplication id looks sound to me.

[2021-03-24 13:54] joeyparis commented on #77
@styrmis I would definitely be interested in a PR allowing FIFO queues to be used!

[2021-03-24 14:06] styrmis commented on #77
@joeyparis Ok great—I'm going to look use #78 as a base, do you think there is anything missing there? Way back it seemed that @tawan was happy with it as it was, except for the test failures.

[2021-03-24 14:13] joeyparis commented on #77
@styrmis I would just want to add test coverage, it's nice having the confidence in updates but otherwise, it looks good!

[2021-03-24 15:35] styrmis commented on #104
@joeyparis I believe this can be closed now that you have merged #111.

[2022-01-06 22:23] joeyparis opened #134 "Add support for Rails 7 and Ruby 3"

[2022-01-19 21:07] joeyparis commented on #134
Support added in 3.2.0.

[2022-01-19 21:07] #134 closed

[2022-01-20 17:22] jorge-precich opened #139 "Delete periodic task from cronjob.yaml"
Deleted one task from the cronjob but it's still triggering after a deploy of the server. Shouldn't it be deleted automatically? How can one manage the cronjobs in the server? I've tried using `crontab -l` as root on both the normal and worker server and nothing appears

[2022-01-25 15:44] joeyparis commented on #139
I think the Rails cron job is actually made under the `webapp` user and not root depending on what you're using the schedule the cronjob. Try running `sudo crontab -u webapp -l`

[2022-02-21 19:28] CarlChaappletree opened #140 "EB docker environment Nginx 502 gateway errors"
Anyone has experienced that 502 gateway errors with this gem? After installing this gem, it raise nginx 502 errors. Hard to find any relevant logs regarding this issue.

[2022-02-21 19:29] joeyparis commented on #140
Are you getting the 502 error on your Web Server or on your Worker Server?

[2022-02-22 17:09] CarlChaappletree commented on #140
@joeyparis  Thanks for the message. I resolved the 502 issues but still facing another issue.

Environment

EB
- Both web and worker are dockerized
- EB web env staging - Does not have PROCESS_ACTIVE_ELASTIC_JOBS
- EB worker env staging - PROCESS_ACTIVE_ELASTIC_JOBS = true
- Both have the same code base

SQS
- Correct

Issue
- I triggered a job but it does not invoke while the SQS monitor react to

[2022-02-22 17:16] joeyparis commented on #140
What ports do you have exposed on the worker environment? Was the worker functioning prior to installing the gem or are you using this gem to get a worker in the first place? I apologize as I'm not as familiar with the Docker portion of the gem but I'll help how I can!

[2022-02-22 18:13] CarlChaappletree commented on #140
Hi Joey,
Thank you for your support.

- What ports do you have exposed on the worker environment?
I made a simple database created in order to test the job work.

- Was the worker functioning prior to installing the gem or are you using this gem to get a worker in the first place?
I have just confirmed that the job works in the development

- I found a log in the web app. it triggers the job.
[Act

[2022-02-22 18:25] joeyparis commented on #140
Are you deploying the same rails application code to both the web-env and worker-env? They should both be the same with the exception of the ENV variables. I'm not super familiar with the docker setup but you probably need to expose port 80 on the container so that Elastic Beanstalk's sqsd is able to publish the requests to the application. My guess is this is why jobs aren't processing but also w

[2022-02-27 09:52] CarlChaappletree opened #142 "Question regarding active_storage_analysis"
Hi,

Anyone who can teach me what the active_storage_analysis and do? I have them in SQS queues.

- What does active_storage_analysis do?

- Is it ok the active_storage_analysis enqueued in the SQS without invoking?

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/45193415/155877609-c65b5fce-d331-4f42-89ca-2ce284cfaa46.png">

Thank you for reading!

[2022-02-28 15:29] joeyparis commented on #142
I don't believe active_storage_analysis has anything to do with this gem. Unfortunately, I'm going to have to close this issue. I'm also not familiar enough with ActiveStorage to be of any help. Perhaps [this article](https://mikerogers.io/2019/06/06/rails-6-sidekiq-queues) can help send you in the right direction.

[2022-02-28 15:29] #142 closed

[2022-04-11 09:13] keisukekomeda opened #143 "/var/proxy/staging/nginx/conf.d/read_timeout.conf disappears"
`/var/proxy/staging/nginx/conf.d/read_timeout.conf` disappears when elastic beanstalk configuration settings are updated.
And it causes that the long (longer than 1 minutes) jobs fail. (the job is treated as `fail`, and job becomes visible on SQS again.)

In this case, `predeploy` script seems not to be called.
However, I have no idea which hook might be the workaround for this problem.
https://do

[2022-04-11 11:47] januszm commented on #143
It looks like we need this conf file in both hooks and confighooks

`.platform/hooks/predeploy/...`
`.platform/confighooks/predeploy/...`

[2022-04-12 10:08] keisukekomeda commented on #143
@joeyparis
I created a PR to fix it #144 . (Only a small fix on README)

[2022-04-12 14:36] joeyparis commented on #143
@keisukekomeda thank you for your contribution!

[2022-04-12 14:36] #143 closed

[2022-08-19 16:43] codeguru42 opened #146 "Configure queue url for each Rails environment"
I am working on a project where we wanted to use active elastic job but needed to configure the queue url per environment, so that staging and production each have their own queues. We forked this repo and customized it to allow an `active_elastic_job` initializer for this purpose.

Are you interested in a PR with our changes? I'm open to working on it to get it into a form that you are happy with

[2022-08-19 17:16] joeyparis commented on #146
I would take a different approach. We use the `config.active_job.queue_name_prefix` parameter and set it to `Rails.env`. Then our queue names in SQS are `production_report_processing`, `stage_report_processing`, and `development_report_processing`. In our job file we do `queue_as :report_processing` and ActiveJob will then prefix it with the result of `Rails.env` + `_` to use the correct queue. Do

[2022-08-22 15:59] codeguru42 commented on #146
@joeyparis Yes, that makes sense. I'll look at it more this week to see if it works for us. A previous project owner forked a bunch of OSS gems to customize them and I'm trying to use the original gems as much as possible. I don't particularly want to maintain forks of all our dependencies.

[2022-08-22 16:03] codeguru42 commented on #146
@joeyparis Question: are all your SQS queues in the same account? We have prod, staging, and development in separate AWS accounts so the SQS instances for each one have an entirely different URL, not just the queue name.

[2022-08-22 16:10] joeyparis commented on #146
@codeguru42 I definitely understand not wanting to maintain forks of all your dependencies, that can get out of hand quickly!

All of our queues are in the same account but that shouldn't be an issue if they are in different accounts. In `application.rb` as part of your config you can do this:

[code]

Then just make sure each environment has the appropriate access key ID and secret key variables

[2022-08-22 17:24] codeguru42 commented on #146
I don't have any control over the way each environment is set up. That's under the company's IT department.

To give some more details, I have the queues like this:

[code]

I have a job:

[code]

In my elasticbeanstalk environment, I call `MyJob.perform_later`.

If I understand correctly, `my_queue` will be `<queue name>` and `<some id number>` is the account id and can be determined automaticall

[2022-08-22 17:42] joeyparis commented on #146
Nope, I think you got everything! Just make sure the region and credentials are defined correctly for each environment and you shouldn't have to adjust anything else. I'm going to go ahead and close this issue but feel free to open it back up if you run into any problems or have any other questions!

[2022-08-22 17:46] codeguru42 commented on #146
@joeyparis Thanks a lot for your quick response here. I'm just removing the fork from this project and using your version directly. Now I need to test it out and see if I missed anything.

[2022-08-22 19:48] codeguru42 commented on #146
@joeyparis So after using this gem directly rather than our fork, I'm getting:

            Unfortunately a queue with this name does not exist in this
            region. Either create an Amazon SQS queue named MY_QUEUE -
            you can do this in AWS console, make sure to select region
            MY_REGION - or you
            select another queue for your jobs.

It looks like active-elast

[2022-08-22 20:23] joeyparis commented on #146
@codeguru42 are the AWS credentials you are using created under each account for testing, or are they all created under one account and the other accounts grant access to them?

[2022-08-22 20:30] codeguru42 commented on #146
@codeguru42 From what I understand each environment account is maintained under an aggregate company account. We use credentials from the aggregate account, so they are the same across all the subaccounts.

[2022-08-22 20:43] joeyparis commented on #146
@codeguru42 what I believe is happening is the AWS SQS SDK does not require an account ID and will default to the account of the credentials which in your case appears to be the aggregate company account preventing it from finding your queues in the subaccounts with just the queue name. The solution to this is either to add an additional config option for `queue_owner_aws_account_id` or just updat

[2022-08-22 20:44] codeguru42 commented on #146
@joeyparis I'm working on testing setting the `endpoint` config. I'll get back with you about that shortly.

[2022-08-22 20:53] codeguru42 commented on #146
After setting `endpoint`, I get

[2022-08-22 20:57] codeguru42 commented on #146
oh wait...that's a stringified hash, no wonder it's invalid.

[2022-08-22 21:13] joeyparis commented on #146
Was the stringified hash an issue on your end or an unexpected outcome from passing a string to `endpoint`?

[2022-08-22 21:14] codeguru42 commented on #146
@joeyparis Still in the middle of deploying the change.

[2022-08-22 21:15] codeguru42 commented on #146
The stringified hash was an artifact of the code I used to set `endpoint`. Completely on my end. I'm deploying a change to hopefully fix that.

[2022-08-22 21:34] codeguru42 commented on #146
@joeyparis I fixed the "bad URI" error, but still no luck with setting `endpoint`. I've tried setting it to both `"https://sqs.amazonaws.com/<account_id>/my_queue"` and `"https://sqs.amazonaws.com/<account_id>"`.

[2022-08-22 21:43] joeyparis commented on #146
I think you’re missing the region between sqs and amazonaws

On Mon, Aug 22 2022 at 5:34 PM, Code Apprentice ***@***.***>
wrote:

[2022-08-22 21:44] codeguru42 commented on #146
@joeyparis That looks like a copy/paste error here. I'm pretty sure the region is actually there.

[2022-08-22 22:33] codeguru42 commented on #146
@joeyparis Thanks for your help today. I just want to let you know that I still haven't found a working solution that sets `Rails.application.config.active_elastic_job.endpoint`. LMK if you have any other suggestions.

[2022-08-23 18:46] codeguru42 commented on #146
@joeyparis What are your thoughts about adding a `queue_owner_aws_account_id` as you mentioned earlier?

[2022-08-23 20:28] sadatetchamouza opened #147 "SQS message timeout response"
I did everything described in the documentation but I am getting a 504 error.

`2022-08-23T17:08:59Z message: sent to http://localhost:80/
2022-08-23T17:09:59Z http-err: 9621f014-4670-4152-999a-ac575b5f2e2a (1) 504 - 60.004
2022-08-23T17:13:59Z message: sent to http://localhost:80/
2022-08-23T17:14:59Z http-err: 9621f014-4670-4152-999a-ac575b5f2e2a (2) 504 - 60.004
2022-08-23T17:18:59Z message: se

[2022-08-23 21:09] joeyparis commented on #146
@codeguru42 I am definitely open to adding that option if you can't get `.endpoint` working. My workload is pretty heavy at the moment, but I would accept a PR with testing. Otherwise, it's something I can work on adding a bit down the road!

[2022-08-24 19:20] codeguru42 commented on #146
@joeyparis I'd be happy to send you a PR. I'll see what I can do over the next week or so.